{% include "base/base_useractions.html" %}
{% load bootstrap4 %}

{% block content %}
    <div class="container">
    <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
          <a href="{% url 'index' %}"><img src="{{ logo_path }}" class="mx-auto d-block loginmark"/></a>
            <a href="{% url 'who' %}">← Zurück zu {{ project_title }}</a>
        <div class="card card-signin flex-row my-5">
          <div class="card-img-left d-none d-md-flex">
             <!-- Background image for card set in CSS! -->
          </div>
          <div class="card-body">
            <h1 class="card-title text-center">Login</h1>
                {% if next %}
    <form action="/account/login?next={{next}}" method="POST">
{%else%}
    <form action="/account/login/" method="POST">
{% endif %}
            {% bootstrap_messages %}
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="hidden" name="next" value="{{ request.GET.next }}"/>
        <button type="submit" class="btn btn-primary">Login</button>
        </form>
          </div>
        </div>
      </div>
     </div>
    </div>
    {% include 'base/wave.html' %}
{% endblock %}