{% include "base.html" %}
{% load bootstrap4 %}

{% block content %}
    <div class="container-fluid">
        <div style="width:50%; margin: auto">
            <div class="text-center">
                <p>
                    <img src="{{ other_user.profile.picture.url }}"/><br/>
                    {% if own_profile %}
                        <a href="/profile/change">change</a>
                    {% endif %}
                </p>
                <p>Username: {{ other_user.username }}<br/>
                    Name: {{ other_user.first_name }}<br/>
                </p>
            </div>
        </div>
    </div>
{% endblock %}