{% include "base/base.html" %}

{% block content %}
    <div class="container">
        <p><a href="{% url 'map' %}">← Zurück zur Karte</a></p>
  <div class="row">
      <div class="col">
        <h1 class="singleview">{{ help_point.title }}</h1>
          <strong><p>Kategorie:</strong> {{ help_point.category }} | <strong>User:</strong> <a href="{% url 'other-profile' user_id=help_point.author_id %}">{{ help_point.author }}</a></p>
          <a class="btn-primary btn" href="{% url 'conversation' user_id=help_point.author_id %}">Anbieter kontaktieren</a><br><br>
          <h2>Beschreibung</h2>
        <p>{{ help_point.description }}</p>
      </div>
    <div class="col">
        <h2>Karte</h2>
       <div id='map' style='width: 400px; height: 300px;'></div>
<script>
// TO MAKE THE MAP APPEAR YOU MUST
// ADD YOUR ACCESS TOKEN FROM
// https://account.mapbox.com
mapboxgl.accessToken = 'pk.eyJ1IjoiZWRpZXR6c2NoIiwiYSI6ImNrYmgyNzhidzAxN2kydXF2ZnFiNWIwOGsifQ.K4qRqMRy5pc0RVjjIx6AOw';
var map = new mapboxgl.Map({
container: 'map',
style: 'mapbox://styles/mapbox/streets-v11', // stylesheet location
center: [{{help_point.geom.coordinates.0 }},{{ help_point.geom.coordinates.1 }}], // starting position [lng, lat]
zoom: 14 // starting zoom
});

var marker = new mapboxgl.Marker()
.setLngLat([{{help_point.geom.coordinates.0 }},{{ help_point.geom.coordinates.1 }}])
.addTo(map);
</script>
  </div>
</div>
{% endblock %}