{% extends "base.html" %}
{% load leaflet_tags %}
{% load geojson_tags %}


{% block content %}

    {% leaflet_js %}
    {% leaflet_css %}
    <script type="text/javascript">

      var collection = {{ help_points|geojsonfeature:"popupContent"|safe }};

      function onEachFeature(feature, layer) {
        if (feature.properties && feature.properties.popupContent) {
            layer.bindPopup(feature.properties.popupContent);
        }
      }
      function map_init(map, options) {
        L.geoJson(collection, {onEachFeature: onEachFeature, pointToLayer: makeColor}).addTo(map);
        map.panTo(L.latLng{{ user_location }});
      }

    </script>

    {% leaflet_map "spots" callback="window.map_init" %}

{% endblock %}