{% url 'who' as info %}
{% url 'map' as map %}
{% url 'add-point' as addpoint %}
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
  <a class="navbar-brand" href="{% url 'index' %}"><img src="{{ logo_path }}" style="height: 65px;"/></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item  {% if request.path == info %}active{% endif %}" id="highlight">
        <a class="nav-link" href="{% url 'who' %}">Über Uns</a>
      </li>
      <li class="nav-item {% if request.path == map %}active{% endif %}" id="highlight">
        <a class="nav-link" href="{% url 'map' %}">Karte</a>
      </li>
    {% if user.is_authenticated %}
        <li class="nav-item {% if request.path == addpoint %}active{% endif %}" id="highlight">
            <a class="nav-link" href="{% url 'add-point' %}">Hilfe anbieten</a>
        </li>
    {% endif %}

    </ul>
    <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
            <li class="nav-item"><a href="{% url 'received-messages' %}" class="nav-link">
                {% if request.user.profile.is_unread_messages %}
                    <i class="material-icons md-36 navicon" data-badge="13" id="newmessage" data-toggle="tooltip" data-placement="bottom" title="Neue Nachricht verfügbar">chat</i>
                {% else %}
                    <i class="material-icons md-36 navicon" data-toggle="tooltip" data-placement="bottom" title="Postfach öffnen">chat_bubble_outline</i>
                {% endif %}
            </a></li>
            <li class="nav-item dropleft">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="material-icons md-36 navicon" data-toggle="tooltip" data-placement="bottom" title="Angemeldet als {{ user }}">account_circle</i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'profile' %}">Profil ansehen</a>
          <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
        </div>
      </li>
        {% else %}
            <li class="nav-item"><a href="{% url 'login' %}" class="nav-link">
                <i class="material-icons md-36 navicon" data-toggle="tooltip" data-placement="bottom" title="Login">login</i>
            </a></li>
            <li class="nav-item"><a href="{% url 'register' %}" class="nav-link">
                <i class="material-icons md-36 navicon" data-toggle="tooltip" data-placement="bottom" title="Registrieren">assignment</i>
            </a></li>
        {% endif %}
    </ul>
  </div>
    </div>
</nav>