    body {
        height: 100vh;
    }

    p {
        font-family: 'Roboto', sans-serif;
    }
    .navicon {
         font-size: 30px;
    }
    .text-middle {
        width: 80%;
        margin: auto;
        margin-top: 50px;
    }
    .error {
        color: darkred;
    }
    .success {
        color: green;
    }
    .leaflet-container {
        width:  100%;
        height: 80%;
    }
    ::-webkit-scrollbar {
        display: none;
    }

    .basepage {
        background: linear-gradient(to bottom, #ffddd4, #FFFFFF);
    }

    .nav-link {
        padding-top: 1px!important;
        padding-bottom: 1px!important;
        font-family: 'Barlow Condensed', sans-serif;
        font-weight: 700;
        font-size: 25px;
        color: #374B73!important;
    }

    .navbar-brand {
        margin-right: 5rem!important;
    }

    .tooltip-inner {
        max-width: 200px;
        padding: 3px 8px;
        color: #374B73;
        font-family: 'Barlow Condensed', sans-serif;
        font-weight: 100;
        font-size: 16px;
        text-align: center;
        background-color: #FFFFFF;
        border-radius: .25rem;
    }

    .tooltip.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .tooltip.bs-tooltip-bottom .arrow::before {
    margin-left: -3px;
    content: "";
    border-width: 0 5px 5px;
    border-bottom-color: #FFFFFF;
    }

    .active {
        border-bottom: 4px solid #FFFFFF;
    }

    #highlight {
    position: relative;
    display: inline-block;
    margin-right: 1.5rem;
    }

    #highlight:after {
    content: "";
    position: absolute;
    left:0;
    width: 0;
    height: 4px;
    background-color: #374B73;
    transition: width .3s ease-in-out;
    }

    #highlight:hover:after {
    width: 100%;
    }

    h1 {
        color: #374B73;
        font-family: 'Barlow Condensed', sans-serif;
        font-weight: 700;
        border-bottom: 8px solid #FFD0A5;
        display: inline-block;
        margin-bottom: 2rem;
    }

    h2 {
        color: #374B73;
        font-family: 'Barlow Condensed', sans-serif;
        font-weight: 700;
        border-bottom: 8px solid #FFD0A5;
        display: inline-block;
    }

    .dropdown-item {
        font-family: 'Barlow Condensed', sans-serif;
        font-weight: 400;
    }

    .bg-gradient-primary-to-secondary {
        background-color: #FFFFFF;
        background-image: linear-gradient(135deg, #FFFFFF 0%, #FFD0A5 50%, #FF9A9A 100%);
    }

    .dropleft .dropdown-toggle::before {
        display: none;
    }

    #newmessage {
        color: white;
    }

    #newmessage:hover {
        color: #374B73;
    }