<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page_title }}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5926ae8c15.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<!--<script src='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css' rel='stylesheet' />-->

<style>
    body {
        height: 100vh;
    }
    .navicon {
         font-size: 30px;
    }
    .text-middle {
        width: 80%;
        margin: auto;
        margin-top: 50px;
    }
    .error {
        color: darkred;
    }
    .success {
        color: green;
    }
    .leaflet-container {
        width:  100%;
        height: 80%;
    }
    ::-webkit-scrollbar {
        display: none;
    }

</style>
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<body>

{% block header %}
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <a class="navbar-brand">Corona Help Map</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/info">Info </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">Get Help </a>
      </li>
    {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="/map/offer_help/">Offer Help </a>
        </li>
    {% endif %}

    </ul>
    {% if messages %}
    <ul class="navbar-nav justify-content-center">
        {% for message in messages %}
            {% if message.tags == "error" or message.tags == "success" %}
            <li {% if message.tags %}class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endif %}
        {% endfor %}
    </ul>
    {% endif %}
    <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
            <li class="nav-item"><a href="/messages" class="nav-link">
                {% if request.user.profile.is_unread_messages %}
                    <i class="fas fa-envelope-open-text navicon"></i>
                {% else %}
                    <i class="fas fa-envelope navicon"></i>
                {% endif %}
            </a></li>
            <li class="nav-item"><a href="/profile" class="nav-link">
                <i class="material-icons md-36 navicon">account_circle</i>
            </a></li>
            <li class="nav-item"><a href="/account/logout" class="nav-link">
                <i class="material-icons md-36 navicon">exit_to_app</i>
            </a></li>
        {% else %}
            <li class="nav-item"><a href="/account/login" class="nav-link">
                <i class="material-icons md-36 navicon">power_settings_new</i>
            </a></li>
            <li class="nav-item"><a href="/account/register" class="nav-link">
                <i class="material-icons md-36 navicon">assignment</i>
            </a></li>
        {% endif %}
    </ul>
  </div>
</nav>
{% endblock %}

{% block content %}
    <!-- content block -->
{% endblock %}

</body>
</html>