{% extends "base.html" %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}

    <style>

    .grid-container-messages {
        height: 100%;
        width: 100%;
    }

    .sidebar {
        position: fixed;
        left: 0;
        top: 10%;
        width: 20%;
    }

    .message_container {
        position: fixed;
        top: 10%;
        left: 20%;
        width: 80%;
        height: 90%;
    }

    .message_area {
        z-index: 0;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 2%;
        height: 100%;
        overflow-y: auto;
    }

    .profile_area {
        position: fixed;
        <!--background-color: white;-->
        z-index: 2;
        width: 10%;
        left: 5%;
        bottom: 10%;
    }

    </style>
<div class="container">
    <div class="grid-container-messages">
        <div class="sidebar">
            <!--<ul class="bg-light border-right" id="sidebar-wrapper">-->
                    <div class="sidebar-heading text-center">Conversations </div>
                        <br/>
                        <ul class="list-group" style="width: 75%; margin: auto;">
                            {% for user in user_interactions.all %}
                                <a href="/messages/{{ user.id }}" style="color: black;">
                                    <li class="list-group-item text-center">

                                            {% if user in unread_from %}
                                            <strong>
                                            {% endif %}
                                            {{ user }}
                                            {% if user in unread_from %}
                                                (new)
                                            </strong>
                                            {% endif %}

                                    </li>
                                </a>
                            {% endfor %}
                        </ul>

                    {% if not user_interactions %}
                        <div class="text-center">- no messages yet -</div>
                    {% endif %}
                </div>
        </div>

        <div class="profile_area">
            <h3 class="text-center" id="conversation-head" style="z-index: 2;">
                {% if not other_user == "everyone" %}
                    <a href="/profile/{{ other_user.id }}" style="color: black;">
                        <img src="{{ other_user.profile.picture.url }}" style="width: 100px; height:100px;"/><br/>
                        {{ other_user }}
                    </a>
                {% endif %}
            </h3>
        </div>
        <div class="message_container">
            <div class="message_area">
                <br/><br/>
                {% if not other_user == "everyone" %}
                    {% for message in mails %}
                    <div class="row">
                        <div class="col-md-12" id="message{{ message.id }}">
                            <p>
                                <strong>{{ message.sender }}</strong><small>{{ message.date }} </small>: {{ message.text }}
                            </p>
                        </div>
                    </div>
                    <br/>
                    {% endfor %}
                        <span id="lastmessage"></span>
                    <div class="col-md-12">
                        <form action="" method="POST">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <div class="text-center">
                                <button type="submit" id="send-button" class="btn btn-primary btn-lg" value="test">Send</button>
                            </div>

                        </form>
                    </div>
            {% endif %}

            </div>
        </div>
    </div>
</div>
<!--
<div class="container-fluid">
	<div class="row">
		<div class="col-md-3 position-fixed">
            <div class="bg-light border-right" id="sidebar-wrapper">
                <div class="sidebar-heading text-center">Conversations </div>
                <div class="list-group list-group-flush">
                    {% for user in user_interactions.all %}
                        <a href="/messages/{{ user.id }}"
                           class="list-group-item list-group-item-action bg-light">
                            {{ user }}
                        </a>
                    {% endfor %}
                </div>
                {% if not user_interactions %}
                    <div class="text-center">- no messages yet -</div>
                {% endif %}
            </div>
		</div>
		<div class="col-md-9" style="margin-left: 25%;">
            <div class="row sticky">
				<div class="col-md-12">
					<h3 class="text-center" id="conversation-head">
                        {% if not other_user == "everyone" %}
                            <img src="{{ other_user.profile.picture.url }}" style="width: 100px; height:100px;"/><br/>
                            {{ other_user }}
                        {% endif %}
					</h3>
				</div>
			</div>
            {% if not other_user == "everyone" %}
            {% for message in mails %}
			<div class="row">
				<div class="col-md-12" id="message{{ message.id }}">
					<p>
                        <strong>{{ message.sender }}</strong><small>{{ message.date }} </small>: {{ message.text }}
					</p>
				</div>
			</div>
            <br/>
            {% endfor %}
                <span id="lastmessage"></span>
             <div class="row">
                <div class="col-md-12">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <div class="text-center">
                            <button type="submit" id="send-button" class="btn btn-primary btn-lg" value="test">Send</button>
                        </div>

                    </form>
                </div>
            </div>
            {% endif %}

		</div>
	</div>
</div>
-->
<script language="JavaScript">
    let input = document.getElementById('id_message');
    input.focus();
    input.select();

    $(document).ready(function() {
        setInterval(ajaxd, 10000);
    });

    function ajaxd() {
        $.ajax({
            type: "GET",
            url: "/api/messages/{{ other_user.id }}",
            success: function(msgs){
                is_new = false;
                for (msg in msgs){
                    if($("#message" + msgs[msg]['id']).length == 0) {
                        $("<div class=\"row\">\n" +
                            "<div class=\"col-md-12\" id=\"message" + msgs[msg].id + "\">\n" +
                            "\t\t\t\t\t<p>\n" +
                            "<strong>" + msgs[msg].sender + "</strong><small>" + msgs[msg].date + "</small>: " + msgs[msg].text + "\n" +
                            "\t\t\t\t\t</p>\n" +
                            "\t\t\t\t</div>\n" +
                            "\t\t\t</div>\n" +
                            "            <br/>").insertBefore("#lastmessage");
                        is_new = true;
                    }
                }
                if (is_new){
                    let input = document.getElementById('id_message');
                    input.focus();
                    input.select();
                }
            }
        });
    }
</script>

{% endblock %}