{% extends "base/base.html" %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}

    <style>
    .sidebar {
        left: 0;
        top: 10%;
        width: 20%;
    }

    .message_container {

    }

    .message_area {
        z-index: 0;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 2%;
        overflow-y: scroll;
        overflow-x: scroll;
        max-height: 400px;
    }

    </style>

    <div class="container" style="margin-bottom: 2rem;">
    <div class="row justify-content-md-center">
        <div class="col-4">
            <!--<ul class="bg-light border-right" id="sidebar-wrapper">-->
            <h1 class="text-center">Nachrichten</h1>
                        <br/>
                        <ul class="list-group">
                            {% for user in user_interactions.all %}
                                <a href="/messages/{{ user.id }}">
                                    <li class="list-group-item text-center chatlist">

                                            {% if user in unread_from %}
                                            <strong>
                                            {% endif %}
                                            {{ user }}
                                            {% if user in unread_from %}
                                                (new)
                                            </strong>
                                            {% endif %}

                                    </li>
                                </a>
                            {% endfor %}
                        </ul>

                    {% if not user_interactions %}
                        <div class="text-center">- Keine bisherigen Konversationen. -</div>
                    {% endif %}
                <div class="profile_area text-center">
            <h3 class="text-center" id="conversation-head" style="z-index: 2;">
                                {% if not other_user == "everyone" %}
                    <a href="/profile/{{ other_user.id }}">
                        <img src="{{ other_user.profile.picture.url }}" style="width: 100px; height:100px;"/><br/>
                    </a>
            <h1 class="nav-link">Profil von {{ other_user }} ansehen</h1>
            </h3>
                                    {% endif %}
        </div>
                </div>
        <div class="col">
            <div class="message_area">
                <br/><br/>
                {% if not other_user == "everyone" %}
                    {% for message in mails %}
                    <div class="row">
                    {% if message.sender == user %}
                        <div class="col-md-12 message mychat" id="message{{ message.id }}">
                            {% else %}
                        <div class="col-md-12 message otherchat" id="message{{ message.id }}">
                            {% endif %}
                            <p>
                                <small>{{ message.date|date:"SHORT_DATE_FORMAT" }}, {{ message.date|date:"H:i:s" }} von {{ message.sender }}</small><br>{{ message.text }}
                            </p>
                        </div>
                    </div>
                    <br/>
                    {% endfor %}
                        <span id="lastmessage"></span>
            {% endif %}

            </div>
                         {% if not other_user == "everyone" %}
                            <div class="col-md-12">
                        <form action="" method="POST">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <div class="text-center">
                                <button type="submit" id="send-button" class="btn btn-primary btn-lg" value="test">Abschicken</button>
                            </div>

                        </form>
                                {% endif %}
                    </div>
        </div>
    </div>
    </div>


<script language="JavaScript">
    let input = document.getElementById('id_message');
    input.focus();
    input.select();

    $(document).ready(function() {
        setInterval(ajaxd, 10000);
    });

    function ajaxd() {
        $.ajax({
            type: "GET",
            url: "/api/messages/{{ other_user.id }}",
            success: function(msgs){
                let is_new = false;
                for (msg in msgs){
                    if($("#message" + msgs[msg]['id']).length == 0) {
                        $("<div class=\"row\">" +
                            "<div class=\"col-md-12 message otherchat\" id=\"message" + msgs[msg]['id'] + "\">" + "\n" +
                            "<p>" + "\n" +
                            "<small>" + msgs[msg].date + " von " + msgs[msg].sender + "</small><br/>" + "\n" +
                            msgs[msg].text + "\n" +
                            "</p></div></div>").insertBefore("#lastmessage");
                        is_new = true;
                    }
                }
                if (is_new){
                    let input = document.getElementById('id_message');
                    input.focus();
                    input.select();
                }
            }
        });
    }
</script>

{% endblock %}