{% extends "base.html" %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-3">
            <table id="tablePreview" class="table table-borderless">
                <thead>
                    <tr><th class="text-center">Conversations</th></tr>
                </thead>
                <tbody>
                    {% for user in users_interacted_with.all %}
                    <tr><td class="text-center align-center">
                        <a href="/messages/{{ user.id }}">{{ user }}</a>
                    </td></tr>
                    {% endfor %}
                </tbody>
            <!--<h4 class="text-center">Conversations</h4>
			<ul>
                {% for user in users_interacted_with.all %}
				<li class="list-item">
                    <a href="/messages/{{ user.id }}">{{ user }}</a>
				</li>
                {% endfor %}
			</ul>-->
            </table>
		</div>
		<div class="col-md-9">
			<div class="row">
				<div class="col-md-12">
					<h3 class="text-center">
						Conversation with {{ other_user }}
					</h3>
				</div>
			</div>
            {% for message in mails %}
			<div class="row">
				<div class="col-md-12">
					<p>
                        <strong>{{ message.sender }}</strong> <small>{{ message.date }} </small>: {{ message.text }}
					</p>
				</div>
			</div>
            <br/>
            {% endfor %}
            {% if not other_user == "everyone" %}
            <div class="row">
                <div class="col-md-12">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <button type="submit" class="btn btn-primary" value="test">Test</button>
                    </form>
                </div>
            </div>
            {% endif %}
		</div>
	</div>
</div>
{% endblock %}